<% @user.cars.map do |car| %>
  <div class="row">
    <div class="col s4">
      <h5><%= car.name %></h5>
      <p><%= image_tag(car.image, :class => "responsive-img")%></p>
      <p><%="$#{car.price}"%></p>
      <p><%= link_to "View Car", car %></p>
    </div>
<%end%>
</div>
