<% @user.cars.map do |car| %>
<div class="list">
  <br>
    <h4><%= car.name %></h4>
  <br>
  <br>
    <%= image_tag(car.image, width: 400, class: 'd-block mx-auto')%>
  <br>
  <br>
    <h5><%="$#{car.price}"%></h5>
  <br>
  <br>
    <strong><%= link_to "View Car", car %>
      <br>
      <br>
      <br>
  </div>
<%end%>
